@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div> *@
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.DOB" class="form-control" />
                <label asp-for="Input.DOB" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" id="addressInput" class="form-control" />
                <label asp-for="Input.Address" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ImgAvatar" class="form-control" type="file" />
                <label asp-for="Input.ImgAvatar" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Gender" class="form-control">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <label asp-for="Input.Gender" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        @if (Model.CurrentImgAvatarPath != null)
        {
            <div class="form-group text-center mb-3">
                <img src="@Model.CurrentImgAvatarPath" alt="Current Avatar" class="img-thumbnail" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover; border: 3px solid black;" />
            </div>
        }
        <div id="map" style="height: 300px; width: 100%;"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCwYA_IqE-kkHOjrU7eg2FOm-15fO0hLM&callback=initMap" async defer></script>
    <script>
        function loadGoogleMapsScript(callback) {
            var script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDCwYA_IqE-kkHOjrU7eg2FOm-15fO0hLM&callback=' + callback;
            script.async = true;
            document.head.appendChild(script);
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: -34.397, lng: 150.644 }
            });

            var geocoder = new google.maps.Geocoder();
            var addressInput = document.getElementById('addressInput');
            var address = addressInput.value;

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            loadGoogleMapsScript('initMap');
        });

        window.addEventListener('load', function () {
            loadGoogleMapsScript('initMap');
        });
    </script>
}
