@model IEnumerable<AgileBookStore.Models.Category>
<div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <a asp-controller="Product" asp-action="ProductAll" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">All Products</a>

    @foreach (var category in Model)
    {
        <a asp-controller="Product" asp-action="ProductByCategory" asp-route-categoryId="@category.Id" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">@category.Name</a>
    }
</div>

